body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}

section {
    padding: 20px 0;
}

.card img {
    height: 600px;
    object-fit: cover;
    
}
